  <md-card style = "width:70%;margin-left:10%;margin-top: 3%;">
    <md-card-content style = "width: 86%;margin-left: 7%">
      <table border=1 frame=void rules=rows style="width:100%">
        <thead>
          <th style="padding:16px;" class="text-center">
            Name
          </th>
          <th class="text-center">
            Set number
          </th>
          <th class="text-center">
            Score
          </th>
          <th class="text-center">
            Date and time
          </th>
        </thead>
        <tbody style="text-align:-webkit-center">
        <tr *ngFor="let user of users">
         <td class = "data">
            {{user.name}}
            </td>
          <td class = "data">
            {{user.story_id}}
          </td>
          <td class = "data">
            {{user.score}}
          </td>
          <td class = "data">
            {{user.date}}
          </td>
        </tbody>
      </table>
    </md-card-content>
  </md-card>
  <br>
  <button md-raised-button id="prevbtn" [disabled]='!this.prevButton' (click)='onClickPrev()'>PREV</button>
  <button md-raised-button id="nextbtn" [disabled]='!this.nextButton' (click)='onClickNext()'>NEXT</button>
 <br>