.image { 
  background-image: url("src/assets/img/login1.png"); 
  background-size: 100vw 100vh;
  background-attachment: fixed;
  height: 49em;
  overflow: hidden;
  display: block;
  padding-top: 98px;
  
} 

@font-face {
  font-family: 'MyWebFont';
  src:  url('src/assets/skins/lightgray/fonts/heading.woff') format('woff');
}

.name {
  font-family: 'MyWebFont', Fallback, sans-serif;
  color: white;
  font-size: 90px;
  letter-spacing: 10px;
}

.tag {
    font-size: 32px;
    letter-spacing: 1px;
    font-family: 'QuesFont';
    color: rgb(221,75,57);
}

.fb{
    width: 18%;
}

@font-face {
  font-family: 'QuesFont';
  src:  url('src/assets/skins/lightgray/fonts/BLKCHCRY.woff') format('woff');
}

.prize {
  font-size: 30px;
  position: relative;
  color:white;
  font-family: 'QuesFont';
  top: 60px;
  right: 15px;
}