.image { 
  background-image: url("src/assets/img/login1.png"); 
  background-size: 100vw 100vh;
  background-attachment: fixed;
  height: 45em;
  overflow: hidden;
  display: block;
  
} 

@font-face {
  font-family: 'MyWebFont';
  src:  url('src/assets/skins/lightgray/fonts/heading.woff') format('woff');
}

.name {
  font-family: 'MyWebFont', Fallback, sans-serif;
  color: white;
  font-size: 90px;
  letter-spacing: 10px;
  text-align: end;
  padding-right: 320px;
  padding-top: 40px;
}

.tag {
   margin-right: 124px;
    text-align: end;
    position: relative;
    top: -3%;
    font-size: 32px;
    letter-spacing: 1px;
    font-family: 'QuesFont';
    color: rgb(221,75,57);
}

.fb{
    width: 18%;
    float: right;
    margin-top: 50px;
    margin-right: 373px;
    padding: 7px 49px;

}

.goog {
    width: 17%;
    float: right;
    margin-top: 100px;
   left: 230px;
   position: relative;

}

@font-face {
  font-family: 'QuesFont';
  src:  url('src/assets/skins/lightgray/fonts/BLKCHCRY.woff') format('woff');
}

.prize {
  margin-left: 54%;
  font-size: 30px;
  position: relative;
  top: 2%;
  color:white;
  font-family: 'QuesFont';
}