
<div class = "image">
    <div style = "text-align: center;position: relative;left: 210px;">
    <p class = "name"> Interficio </p> 
    <p class = "tag"> As the night unfolds, so will a web of lies and scandals! </p>

<!--<div class = "fb"> -->
    <div style = "margin-top:28px">
    <button class="btn btn-md btn-social btn-facebook fb" (click)="onFacebookLoginClick()">
        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
    </button> <br> <Br>
<!--</div>-->

  <!--<div class = "google">-->
    <button class="btn btn-block btn-social btn-google" style = "position: absolute;left: 41%;width: 18%;" id='google-signin'>
      <span class="fa fa-google"></span>Login with Google </button>
  <!--</div>-->
    </div>
  <div class = "prize"> Cash prize upto 3000 </div>
   
   <div>
</div>
