
<div class = "image">
    <p class = "name"> Interficio </p> 
    <p class = "tag"> As the night unfolds, so will a web of lies and scandals! </p>

<!--<div class = "fb"> -->
    <button class="btn btn-md btn-social btn-facebook fb" (click)="onFacebookLoginClick()">
        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
    </button>
<!--</div>-->

  <!--<div class = "google">-->
    <button class="btn btn-block btn-social btn-google" style = "margin-left: 54.5%; margin-top: 9%;width: 18%;" id='google-signin'>
      <span class="fa fa-google"></span>Login with Google </button>
  <!--</div>-->

<p class = "prize"> Cash prize upto 3000 </p>
</div>